.isi-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 5px;
    background-color: #F8F9FA;
}
.container-tables {
    overflow-x: auto;
    padding: 5px;
    -webkit-overflow-scrolling: touch;
}
.table-pekerjaan {
    width: 95%;
    height: auto;
    border-collapse: collapse;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    min-width: 1200px;
    background-color: #fff;
}
/* .table-pekerjaan td,
.table-pekerjaan th {
    padding: 12px;
} */
.row-header-table .th-header {
    background-color: #e8faff;
    text-align: center;
    vertical-align: middle;
}
.body-tables td {
    text-align: justify;
}
.body-tables img {
    max-width: 80px;
    max-height: 80px;
}